
<div class="cotainer">
    <div class="row">
        <div class="col text-center">
            <img src="img/samuel.jpg" alt="" class="img-thumbnail rounded-circle" width="200px">
            <h1>Samuel William Noah </h1>
            <p>github: samuel-noah</p>
        </div>
    </div>
</div>
