

 
    <% const nama = 'Dunia' %>
    <div class="container">
        <div class="row mt-5">
            <div class="col text-center">
                <h2> Halo <%= nama %>, </h2>
                <h3> Contact App Sederhana Menggunakan Express Middleware dan MongoDB Database</h3>
                <img src="img/contact.png" alt=""  width="300px">
                
            </div>
        </div>
    </div>

</body>
</html>